* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
  line-height: 1;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* ------------------- */
/* Navbar Styles       */
/* ------------------- */

nav {
  background-color: #0b9586;
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 11rem;
  align-items: center;
}

nav img {
  width: 14rem;
  height: 5rem;
  align-items: center;
  object-fit: cover;
  color: #0a8678;
  mix-blend-mode: multiply;
}

.navbar-links {
  display: flex;
  gap: 3.8rem;
  align-items: center;
}

.navbar-links li {
  list-style-type: none;
}

.navbar-links a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
}

.navbar-links a:hover,
.navbar-links a.active {
  background-color: #0a8c7e;
  border-radius: 0.5rem;
  border-bottom: 0.5rem solid #0c6059;
}

.menu-icon {
  display: none;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

.navbar-contact p {
  color: #fff;
}

.navbar-contact .call-us-letter {
  text-align: end;
  font-size: 1.8rem;
  font-weight: 300;
}

.navbar-contact .call-us-number {
  font-size: 2.8rem;
  font-weight: 500;
}

/* ------------------- */
/* Hero Section Styles       */
/* ------------------- */

.hero-section {
  background-image: url("./images/solar-panels-meadow.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(
    65rem - 4.8rem
  ); /*to extract the height of navbar to make it fit current viewport*/
  position: relative;
}

.progress-box {
  display: flex;
  align-items: center;
  gap: 4rem;
  width: 33.2rem;
  height: 2.4rem;
  position: absolute;
  top: 9rem;
  left: 12rem;
}

.progress-bar-border {
  width: 100%;
  height: 0.5rem;
  background-color: #575757;
}

.progress-bar-white {
  width: 25%;
  height: 0.5rem;
  background-color: #fff;
}

.progress-box:first-child,
.progress-box:last-child {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.094rem;
}

.hero-box {
  display: flex;
  flex-direction: column;
  width: 72.9rem;
  height: 30.5rem;
  position: absolute;
  top: 24rem;
  left: 12rem;
  gap: 2.4rem;
}

.hero-box h1 {
  font-size: 5.2rem;
  font-weight: 600;
  letter-spacing: -2%;
  color: #fff;
}

.hero-box p {
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0%;
  color: #fff;
}

.hero-box div {
  display: flex;
  gap: 2.4rem;
}

.call-us-btn {
  padding: 1.2rem 3.4rem;
  background-color: #3cab90;
  color: #fff;
  border-radius: 10.9rem;
  font-size: 1.4rem;
  border: none;
  font-weight: 400;
}

.request-btn {
  padding: 1.2rem 3.4rem;
  background-color: #ffbb1c;
  border-radius: 10.9rem;
  font-size: 1.4rem;
  border: none;
  font-weight: 400;
}

/* ------------------- */
/* About Us Section Styles       */
/* ------------------- */

.about-us .container {
  /* width: 130rem; */
  height: 71.2rem;
  padding: 8rem 0;
  display: flex;
  justify-content: space-between;
  gap: 2.3rem;
}

.about-us-left-side {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.about-us-left-side h1 {
  width: 59.4rem;
  height: 10.2rem;
  font-size: 4.6rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -2%;
}

.about-us-left-side p {
  width: 59.4rem;
  height: 14.4rem;
  font-size: 1.6rem;
  letter-spacing: 0%;
  line-height: 2.4rem;
  color: #475467;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 50rem;
  height: 15.6rem;
}

.steps .step {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.step span {
  width: 3.2rem;
  height: 2.3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.4rem;
  color: #84bd3a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step h6 {
  width: 45.6rem;
  height: 3rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0%;
  color: #101828;
}

.about-us-right-side {
  width: 51rem;
  height: 55.2rem;
  border-radius: 1.2rem;
}

/* ------------------- */
/* CTA Section Styles       */
/* ------------------- */

.cta-image {
  background-image: url("./images/cta.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50.5rem;
  width: 100%;
  position: relative;
}

.cta-box {
  width: 67.8rem;
  height: 21.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  position: absolute;
  inset: 16rem 0 0 12rem;
}

.cta-box h1 {
  color: #fff;
  font-size: 4.2rem;
  line-height: 100%;
  letter-spacing: -2%;
  font-weight: 600;
}

.cta-box p {
  color: #fff;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0%;
  font-weight: 500;
}

.cta-box button {
  background-color: #ffbb1c;
  width: 17.3rem;
  padding: 1.2rem 3.4rem;
  color: #2a3334;
  font-size: 1.4rem;
  border-radius: 10.9rem;
  border: none;
  letter-spacing: 8%;
}

/* ------------------- */
/* Solar Kits Section Styles       */
/* ------------------- */

.solar-kits .container {
  display: flex;
  flex-direction: column;
  height: 77.7rem;
  padding: 8rem 0;
  gap: 3rem;
  align-items: center;
}

.solar-kits h2 {
  width: 93.6rem;
  height: 5.1rem;
  font-weight: 600;
  font-size: 4.2rem;
  letter-spacing: -2%;
  color: #101828;
  text-align: center;
}

.solar-kits p {
  width: 93.6rem;
  height: 4.8rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0%;
  text-align: center;
  color: #475467;
}

.cards-box {
  width: 100%;
  height: 45.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  justify-content: space-around;
}

.cards-box div {
  flex: 1;
  width: 100%;
  height: 45.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0px 4px 30px 0px #0000000d;
}

.cards-box img {
  width: 100%;
  height: 24rem;
}

.cards-box h4 {
  width: 100%;

  height: 3rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0%;
  color: #101828;
  padding-left: 2rem;
}

.cards-box p {
  width: 100%;
  height: 7.2rem;
  color: #475467;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0%;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: left;
  padding: 0 2rem;
}

.cards-box button {
  width: 14.1rem;
  height: 2.4rem;
  gap: 1rem;
  display: flex;
  margin-left: 2rem;
  font-size: 1.6rem;
  letter-spacing: 0%;
  color: #3cab90;
  font-weight: 600;
  line-height: 2.4rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.cards-box .arrow-icon {
  color: #3cab90;
  font-weight: 300;
  font-size: 1.6rem;
}

/* ------------------- */
/* Repairs Section Styles       */
/* ------------------- */

.repairs-image {
  background-image: url("./images/repairs.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50.5rem;
  position: relative;
}

.blur-box {
  width: 85.5rem;
  height: 31.1rem;
  border-radius: 1.2rem;
  padding: 4.4rem;
  gap: 3.2rem;
  background: #00000091;
  backdrop-filter: blur(24px);
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.blur-box h1 {
  width: 100%;
  height: 5.1rem;
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 100%;
  letter-spacing: -2%;
  color: #fff;
  text-align: center;
}

.blur-box p {
  font-size: 1.8rem;
  line-height: 140%;
  letter-spacing: 0%;
  font-weight: 400;
  height: 14rem;
  color: #fff;
  text-align: center;
}

/* ------------------- */
/* Repairs Section Styles       */
/* ------------------- */

.energy-section {
  width: 100%;
  height: fit-content;
  padding: 8rem 15rem;
  background-color: #ffbb1c0d;
}

.energy-section .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.energy-section__col-1 {
  width: 35.8rem;
  height: 33.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.energy-section__col-1 .icon-box {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 1rem;
  border-width: 2.1rem;
  background-color: #3cab90;
  position: relative;
  outline: 1rem solid rgba(60, 171, 144, 0.2);
}

.icon-box svg {
  position: absolute;
  margin: auto;
  inset: 0;
}

.energy-section__col-1 h1 {
  width: 100%;
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 100%;
  letter-spacing: -2%;
  align-self: center;
  color: #101828;
}

.energy-section__col-1 p {
  width: 100%;
  height: 8.4rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0%;
  color: #475467;
}

/* .energy-section__col-2 {
  height: 81.4rem;
} */

.energy-section__col-2,
.energy-section__col-3 {
  width: 35.8rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.energy-section__col-2 .card,
.energy-section__col-3 .card {
  width: 35.8rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-radius: 1.2rem;
  padding: 2.4rem;
  border-width: 0.1rem;
  background: #3cab900d;
  border: 1px solid #3cab90;
  box-shadow: 0px 4px 30px 0px #0000000d;
}

.energy-section__col-2 .card:nth-child(2) {
  height: fit-content;
  gap: 0;
}

.energy-section__col-2 .card:nth-child(2) h1 {
  margin: 2rem 0;
  height: fit-content;
}

.energy-section__col-2 .card:nth-child(2) p {
  height: fit-content;
}
.energy-section__col-2 .image-holder,
.energy-section__col-3 .image-holder {
  width: 100%;
  height: 10.6rem;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background: #3cab9026;
  position: relative;
}

.energy-section__col-2 .image-holder img,
.energy-section__col-3 .image-holder img {
  width: 22.5rem;
  height: 4.9rem;
  mix-blend-mode: Luminosity;
  position: absolute;
  inset: 0;
  margin: auto;
}

.energy-section__col-2 h1,
.energy-section__col-3 h1 {
  width: 100%;
  height: 6rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0%;
  color: #101828;
}

.energy-section__col-2 p,
.energy-section__col-3 p {
  width: 100%;
  height: fit-content;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0%;
  color: #475467;
}

.energy-section__col-2 p span,
.energy-section__col-3 p span {
  text-decoration-line: underline;
  text-decoration-thickness: 0%;
  text-underline-offset: 0%;
  text-decoration-style: solid;
}

.energy-section__col-2 button,
.energy-section__col-3 button {
  width: 100%;
  height: 2.4rem;
  display: flex;
  gap: 0.8rem;

  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0%;
  color: #3cab90;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/* ------------------- */
/* Our Values Section Styles       */
/* ------------------- */

.our-values .container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 8rem 0;
  gap: 2.3rem;
  justify-content: center;
}

.our-values h1 {
  width: 100%;
  height: fit-content;
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: center;
  color: #101828;
}

.our-values p {
  width: 100%;
  height: fit-content;
  font-family: Inter;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0%;
  text-align: center;
  color: #475467;
}

.our-values-container {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  justify-items: center;
  padding: 5rem;
}

.our-values-container__box {
  width: 100%;
  height: 42rem;
  border-radius: 1.2rem;
  padding: 3.2rem;
  border-width: 0.1rem;
  background: #3cab900d;
  border: 1px solid #3cab90;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
}

.our-values-container__box img {
  width: 7rem;
  height: 7rem;
}

.our-values-container__box h3 {
  width: 100%;
  height: fit-content;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0%;
  color: #101828;
}

.our-values-container__box p {
  width: 100%;
  height: fit-content;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0%;
  color: #475467;
  text-align: left;
}

/* ------------------- */
/* Testimonials Section Styles       */
/* ------------------- */

.testimonials-section .container {
  display: flex;
  padding: 0 7rem 7rem 7rem;
  justify-content: space-between;
}

.testimonials-section aside:nth-child(1) {
  width: 40rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  padding: 2rem;
}

.testimonials-section aside:nth-child(2) {
  width: 70.8rem;
  height: fit-content;
  gap: 8.7rem;
  border-radius: 2.4rem;
  padding: 4rem;
  background: #3cab900f;
}

.testimonials-section img {
  width: 5.8rem;
  height: 4.8rem;
}

.testimonials-section h1 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6.4rem;
  letter-spacing: 0%;
  color: #1c1c1c;
}

.testimonials-section p {
  width: 100%;
  height: fit-content;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  color: #1c1c1c;
}

.testimonials-section .paragraph-side h6 {
  width: 100%;
  height: 2rem;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: #3cab90;
}

.testimonials-section .paragraph-side p {
  width: 100%;
  height: fit-content;
  font-family: Inter;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: #101828;
  margin-top: 3rem;
}

.testimonials-section .top-box {
  height: fit-content;
  display: flex;
  gap: 5.2rem;
}

.testimonials-section .paragraph-side {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.testimonials-section .navigation-dots {
  display: flex;
  gap: 1rem;
}

.testimonials-section .circle {
  width: 0.8rem;
  height: 0.8rem;
  display: block;
  background: #d9d9d9;
  border-radius: 50%;
}

.testimonials-section .navigation-dots span.circle:first-of-type {
  background: #6b6b6b;
}

.testimonials-section .down-box {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.testimonials-section .down-box .left-side {
  width: 30.2rem;
  height: fit-content;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  margin-top: 4rem;
}

.testimonials-section .down-box .left-side img {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
}

.testimonials-section .down-box .left-side h5 {
  width: 100%;
  height: 1.9rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 100%;
  letter-spacing: 0%;
}

.testimonials-section .down-box .left-side p {
  width: 100%;
  height: fit-content;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1c1c1c;
}

.testimonials-section .down-box .left-side div {
  display: flex;
  flex-direction: column;
}

.testimonials-section .down-box .right-side img {
  width: 11.2rem;
  height: fit-content;
  gap: 1.6rem;
  cursor: pointer;
}

/* ------------------- */
/* Footer Section Styles       */
/* ------------------- */

footer {
  background-color: #283646;
  height: auto;
}

footer .container {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.footer__top-box {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer__top-box .left-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer__top-box .left-box img {
  width: 18.5rem;
  height: 6.4rem;
  mix-blend-mode: Luminosity;
}

.footer__navigation-links {
  display: flex;
  gap: 4rem;
}

.footer__navigation-links li {
  list-style-type: none;
}

.footer__navigation-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.03rem;
}

.footer__top-box .right-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__top-box .right-box .subscribe-form {
  width: 40.6rem;
  height: fit-content;
  position: relative;
}

.subscribe-form button {
  position: absolute;
  height: 4.8rem;
  right: 0;
  cursor: pointer;
  gap: 1rem;
  border-radius: 10.9rem;
  padding: 1.2rem 3.4rem;
  background-color: #ffbb1c;
  color: #fff;
  outline: none;
  border: none;
}

.subscribe-form input {
  border: 1px solid #b3bdc7;
  background: #ffffff17;
  width: 100%;
  height: 4.8rem;
  border-radius: 3.8rem;
  padding-left: 2rem;
  border-width: 0.1rem;
}

.subscribe-form input::placeholder {
  color: #92989f;
}

.footer__top-box .right-box p {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.03rem;
}

footer .seperation-line {
  width: 100%;
  height: 0.1rem;
  border-width: 0.1rem;
  border: 0.1rem solid #71777d;
}

.footer__down-box {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.footer__down-box .left-box .links {
  display: flex;
}

.footer__down-box .left-box .links li {
  list-style: none;
  padding-right: 1.8rem;
  border-right: 0.1rem solid #92989f;
}

.footer__down-box .left-box .links li:not(:first-child) {
  padding-left: 1.8rem;
}

.footer__down-box .left-box .links li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.026rem;
  color: #92989f;
}

.footer__down-box .right-box p {
  gap: 5.4rem;
  color: #92989f;

  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.026rem;
  text-align: right;
}

/* ------------------- */
/* Responsive Styles       */
/* ------------------- */

@media (max-width: 768px) {
  /* ------------------- */
  /* Navbar Styles       */
  /* ------------------- */

  .navbar-links {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    flex-direction: column;
    background-color: #0a8678;
    position: absolute;
    top: 9rem;
    right: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    transition: opacity 0.3s ease, max-height 0.3s ease-out;
    z-index: 1000;
  }

  .navbar-links.active {
    opacity: 1;
    max-height: 70rem;
  }

  .menu-icon {
    display: block;
  }

  .navbar-contact {
    display: none;
  }

  /* ------------------- */
  /* Hero Section Styles       */
  /* ------------------- */

  .progress-box {
    gap: 3rem;
    width: 20.2rem;
    height: 2.4rem;
    top: 9rem;
  }

  .progress-box:first-child,
  .progress-box:last-child {
    color: #fff;
    font-size: 1.2rem;
  }

  .hero-box {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 20rem;
    top: 18rem;
    gap: 2.4rem;
    padding-right: 2rem;
  }

  .hero-box h1 {
    font-size: 4rem;
  }

  .hero-box p {
    font-size: 1.6rem;
  }

  .hero-box div {
    gap: 2rem;
  }

  .call-us-btn {
    padding: 1rem 3rem;
    color: #fff;
    font-size: 1.2rem;
  }

  .request-btn {
    padding: 1rem 3rem;
    font-size: 1.2rem;
  }

  /* ------------------- */
  /* About Us Section Styles       */
  /* ------------------- */

  .about-us .container {
    height: 120rem;
    padding: 8rem 12rem;
    flex-direction: column;
  }

  /* ------------------- */
  /* CTA Section Styles       */
  /* ------------------- */

  .cta-section {
    width: 100%;
    overflow: hidden;
  }

  .cta-image {
    background-size: cover;
    height: 100svh;
    width: 100%;
    background-position: center;
  }

  .cta-box {
    inset: 20rem 0 0 12rem;
  }

  .cta-box h1 {
    font-size: 3.4rem;
  }

  .cta-box p {
    font-size: 1.6rem;
  }

  /* ------------------- */
  /* Solar Kits Section Styles       */
  /* ------------------- */

  .solar-kits .container {
    height: 170rem;
    margin-bottom: 10rem;
  }

  .solar-kits p {
    padding: 0 9rem;
  }

  .cards-box {
    grid-template-columns: repeat(1, 1fr);
    padding: 4rem;
    width: 90%;
  }

  .cards-box div {
    width: 100%;
  }

  .solar-kits h2,
  .solar-kits p {
    width: 100%;
  }

  .cards-box h4,
  .cards-box p {
    text-align: center;
    padding: 0 1rem;
  }

  .cards-box button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  /* ------------------- */
  /* Repairs Section Styles       */
  /* ------------------- */

  .repairs-section {
    width: 100%;
    overflow: hidden;
  }

  .blur-box {
    width: 50rem;
  }

  .blur-box h1 {
    font-size: 2.8rem;
  }

  .blur-box p {
    font-size: 1.4rem;
  }

  /* ------------------- */
  /* Energy Section Styles       */
  /* ------------------- */

  .energy-section .container {
    grid-template-columns: repeat(1, 1fr);

    justify-items: center;
  }

  /* ------------------- */
  /* Our Values Section Styles       */
  /* ------------------- */

  .our-values-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 3.2rem;
    padding: 0 10rem;
  }

  .our-values-container__box {
    height: auto;
  }

  /* ------------------- */
  /* Testimonials Section Styles       */
  /* ------------------- */

  .testimonials-section .container {
    flex-direction: column;
    padding: 0 10rem 10rem 10rem;
    gap: 3rem;
  }

  .testimonials-section aside:nth-child(2) {
    width: 100%;
  }

  /* ------------------- */
  /* Footer Section Styles       */
  /* ------------------- */
  .footer__top-box {
    flex-direction: column;
    gap: 3rem;
  }

  .footer__top-box .left-box {
    width: 100%;
    align-items: center;
  }

  .footer__top-box .right-box {
    width: 100%;
    align-items: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar-links {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    flex-direction: column;
    background-color: #0a8678;
    position: absolute;
    top: 9rem;
    right: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    transition: opacity 0.3s ease, max-height 0.3s ease-out;
    z-index: 1000;
  }

  .navbar-links.active {
    opacity: 1;
    max-height: 70rem;
  }

  .menu-icon {
    display: block;
  }
  .navbar-contact {
    display: none;
  }

  /* ------------------- */
  /* About Us Section Styles       */
  /* ------------------- */

  .about-us {
    max-height: 60rem;
  }

  .about-us .container {
    height: auto;
    padding: 6rem 12rem;
    padding-bottom: 0;
    gap: 1.8rem;
  }

  .about-us-left-side {
    flex-direction: column;
    gap: 1rem;
    height: 40rem;
    flex: 1;
  }

  .about-us-left-side h1 {
    width: 100%;
    height: 9.2rem;
    font-size: 3.4rem;
  }

  .about-us-left-side p {
    width: 100%;
    height: 13.6rem;
    font-size: 1.2rem;
    letter-spacing: 0%;
    line-height: 2.4rem;
    color: #475467;
  }

  .steps {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40rem;
    height: 15rem;
    margin-top: 2rem;
  }

  .steps .step {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .step span {
    width: 2.8rem;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.4rem;
    color: #84bd3a;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .step h6 {
    width: 100%;
    height: 2.6rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.6rem;
    letter-spacing: 0%;
    color: #101828;
  }

  .about-us-right-side {
    flex: 1;
    height: 47rem;
    border-radius: 1.2rem;
  }

  .about-us-right-side img {
    width: 100%;
    object-fit: contain;
  }

  /* ------------------- */
  /* Solar Kits Section Styles       */
  /* ------------------- */

  .solar-kits .container {
    height: 130rem;
  }

  .cards-box {
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem;
    width: 90%;
  }

  .cards-box div {
    width: 100%;
  }

  /* ------------------- */
  /* Energy Section Styles       */
  /* ------------------- */

  .energy-section .container {
    grid-template-columns: 1fr 1fr;
  }

  .energy-section__col-1 {
    grid-column: 1 / -1;
  }

  .energy-section__col-2,
  .energy-section__col-3 {
    width: 100%;
    height: fit-content;
    /* flex-direction: row; */
  }

  /* ------------------- */
  /* Our Values Section Styles       */
  /* ------------------- */

  .our-values-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
    padding: 0 10rem;
  }

  /* ------------------- */
  /* Footer Section Styles       */
  /* ------------------- */
  .footer__top-box {
    flex-direction: column;
    gap: 3rem;
  }

  .footer__top-box .left-box {
    width: 100%;
    align-items: center;
  }

  .footer__top-box .right-box {
    width: 100%;
    align-items: center;
  }
}

@media (min-width: 1025px) {
}
